.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #ececec; font-family: Tahoma, Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #37559a; text-decoration: none; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-family: Georgia, Tahoma, sans-serif; font-size: 16px; color: #050000; }

.wrap { width: 1060px; margin: 0 auto; background: #fff; border: 1px solid #d0d0d0; border-width: 0	1px 0 1px; }

.top-wrap { background: #5a5a5a; border-bottom: 2px solid #ff0000; }

.top { width: 1010px; margin: 0 auto; padding: 20px 25px; overflow: hidden; }

.nav { float: left; margin-top: 3px; }
.nav ul { overflow: hidden; }
.nav li { float: left; height: 15px; padding: 0 8px; line-height: 15px; border-left: 1px solid #adadad; }
.nav li:first-child { border: none; padding: 0 8px 0 0; }
.nav a { font-family: Georgia, Tahoma, sans-serif; font-size: 11px; color: #fff; }
.nav a:hover { text-decoration: underline; }

.enter { float: right; color: #fff; font-size: 11px; }
.enter li { float: left; height: 18px; padding: 0 12px; border-left: 1px solid #8b8c8d; }
.enter li:first-child { border: none; }
.enter li.cart-link { padding: 0 0 0 12px; }
.enter a { color: #fff; }
.enter a:hover { text-decoration: underline; }

.enter__social { margin-top: 1px; overflow: hidden; }
.enter__social li { padding: 0; margin: 0 2px 0 0; border: none; }
.enter__social a { display: block; }
.enter__social span { margin-right: 5px; }

.enter__fb { background: url('../img/icons-s166bab79be.png') 0 -156px no-repeat; width: 16px; height: 16px; }

.enter__gg { background: url('../img/icons-s166bab79be.png') 0 -130px no-repeat; width: 16px; height: 16px; }

.enter__ok { background: url('../img/icons-s166bab79be.png') 0 -104px no-repeat; width: 16px; height: 16px; }

.enter__vk { background: url('../img/icons-s166bab79be.png') 0 -182px no-repeat; width: 16px; height: 16px; }

.enter__an { background: url('../img/icons-s166bab79be.png') 0 -264px no-repeat; width: 16px; height: 16px; }

.cart-link a, .cart-link i, .cart-link span { float: left; }
.cart-link a { margin-right: 5px; }
.cart-link i { margin: 1px 6px 0 0; background: url('../img/icons-s166bab79be.png') 0 -240px no-repeat; width: 17px; height: 14px; }

.header { position: relative; height: 116px; }

.logo { position: absolute; top: 10px; left: 50%; margin-left: -140px; background: url('../img/icons-s166bab79be.png') 0 0 no-repeat; width: 281px; height: 94px; }
.logo a { display: block; width: 281px; height: 94px; }

.search { position: absolute; top: 45px; right: 25px; width: 238px; height: 25px; padding: 1px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjAyKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjIpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.02)), color-stop(100%, rgba(0, 0, 0, 0.2))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.search form { width: 238px; height: 25px; background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.search input, .search button { height: 25px; }
.search input { float: left; width: 195px; padding-left: 10px; text-align: right; }
.search button { position: relative; float: right; width: 30px; height: 25px; background: #fff; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
.search i { position: absolute; top: 3px; right: 10px; background: url('../img/icons-s166bab79be.png') 0 -208px no-repeat; width: 15px; height: 22px; }

.menu { padding: 25px 0; margin: 0 25px; border: 1px solid #909191; border-width: 1px 0 2px 0; }
.menu ul { overflow: hidden; }
.menu li { float: left; height: 17px; line-height: 17px; border-left: 1px solid #c8c8c8; text-align: center; }
.menu li:first-child { border: none; }
.menu a { font-family: Georgia, Tahoma, sans-serif; font-size: 14px; text-transform: uppercase; color: #050000; letter-spacing: -1px; }
.menu a:hover { color: #d30000; }
.menu .menu__1 { width: 69px; text-align: left; }
.menu .menu__11 { width: 60px; text-align: right; }

.menu__2 { width: 79px; }

.menu__3 { width: 78px; }

.menu__4 { width: 56px; }

.menu__5 { width: 114px; }

.menu__6 { width: 113px; }

.menu__7 { width: 75px; }

.menu__8 { width: 123px; }

.menu__9 { width: 111px; }

.menu__10 { width: 118px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

/* default layout */
.cols { margin: 10px 25px 0 25px; overflow: hidden; }

.col-1 { float: left; width: 190px; margin-right: 15px; }

.col-2 { float: left; width: 578px; padding: 0 10px; border: 1px solid #909191; border-width: 0	1px 0 1px; }

.col-3 { float: right; width: 190px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.about .h2 { text-align: right; }

.lteie8 body { background: red; }
