.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.popup__btns input, .popup__btns button, .discounts li button, .add-comments__txt input, .registration__btn input, .settings__save input, .publishing__download button, .cart__puy button { height: 22px; border: 1px solid #c8c8c8; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#ffffff, #f3f3f3); background-image: -moz-linear-gradient(#ffffff, #f3f3f3); background-image: -o-linear-gradient(#ffffff, #f3f3f3); background-image: linear-gradient(#ffffff, #f3f3f3); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 10px; color: #909191; cursor: pointer; }
.popup__btns input:hover, .popup__btns button:hover, .discounts li button:hover, .add-comments__txt input:hover, .registration__btn input:hover, .settings__save input:hover, .publishing__download button:hover, .cart__puy button:hover { color: #fff; border: 1px solid #8b0000; background: #e30000; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e30000), color-stop(100%, #ad0000)); background-image: -webkit-linear-gradient(#e30000, #ad0000); background-image: -moz-linear-gradient(#e30000, #ad0000); background-image: -o-linear-gradient(#e30000, #ad0000); background-image: linear-gradient(#e30000, #ad0000); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #ececec; font-family: Tahoma, Arial,sans-serif; font-weight: normal; font-size: 11px; -webkit-transform: translate3d(0, 0, 0); -weblit-backface-visibility: hidden; }

a img, fieldset { border: none; }

a { color: #37559a; text-decoration: none; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-family: Georgia, Tahoma, sans-serif; font-size: 16px; color: #000; }

.h3 { font-size: 14px; }

.wrap { width: 1060px; margin: 0 auto; background: #fff; border: 1px solid #d0d0d0; border-width: 0	1px 0 1px; }

.tt-upper { text-transform: uppercase; }

.link-arr { overflow: hidden; }
.link-arr a { position: relative; float: right; padding-right: 15px; color: #909191; font-style: italic; font-size: 11px; }
.link-arr a:hover { text-decoration: underline; }
.link-arr i { position: absolute; top: 2px; right: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -557px no-repeat; width: 10px; height: 10px; }
.link-arr .link-arr__left { float: left; }

.top-wrap { background: #5a5a5a; border-bottom: 2px solid #ff0000; }

.top { width: 1010px; margin: 0 auto; padding: 20px 25px; overflow: hidden; }

.nav { float: left; margin-top: 3px; }
.nav ul { overflow: hidden; }
.nav li { float: left; height: 15px; padding: 0 8px; line-height: 15px; border-left: 1px solid #adadad; }
.nav li:first-child { border: none; padding: 0 8px 0 0; }
.nav a { font-family: Georgia, Tahoma, sans-serif; font-size: 11px; color: #fff; }
.nav a:hover { text-decoration: underline; }

.enter { float: right; color: #fff; font-size: 11px; }
.enter li { float: left; height: 18px; line-height: 18px; padding: 0 12px; border-left: 1px solid #8b8c8d; }
.enter li:first-child { border: none; }
.enter li.cart-link { padding: 0 0 0 12px; }
.enter a { color: #fff; }
.enter a:hover { text-decoration: underline; }

.enter__social { margin-top: 1px; overflow: hidden; }
.enter__social li { padding: 0; margin: 0 2px 0 0; border: none; }
.enter__social a { display: block; }
.enter__social span { margin-right: 5px; }

.enter__fb { background: url('../img/icons-s2a6dfb439b.png') 0 -361px no-repeat; width: 16px; height: 16px; }

.enter__gg { background: url('../img/icons-s2a6dfb439b.png') 0 -273px no-repeat; width: 16px; height: 16px; }

.enter__ok { background: url('../img/icons-s2a6dfb439b.png') 0 -247px no-repeat; width: 16px; height: 16px; }

.enter__vk { background: url('../img/icons-s2a6dfb439b.png') 0 -387px no-repeat; width: 16px; height: 16px; }

.enter__an { background: url('../img/icons-s2a6dfb439b.png') 0 -508px no-repeat; width: 16px; height: 16px; }

.cart-link a, .cart-link i, .cart-link span { float: left; }
.cart-link a { margin-right: 5px; }
.cart-link i { margin: 1px 6px 0 0; background: url('../img/icons-s2a6dfb439b.png') 0 -445px no-repeat; width: 17px; height: 14px; }

.header { position: relative; height: 116px; }

.logo { position: absolute; top: 10px; left: 50%; margin-left: -140px; background: url('../img/icons-s2a6dfb439b.png') 0 0 no-repeat; width: 281px; height: 94px; }
.logo a { display: block; width: 281px; height: 94px; }

.search { position: absolute; top: 45px; right: 25px; width: 238px; height: 25px; padding: 1px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjAyKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjIpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.02)), color-stop(100%, rgba(0, 0, 0, 0.2))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); background-image: linear-gradient(left, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2)); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.search form { width: 238px; height: 25px; background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.search input, .search button { height: 25px; }
.search input { float: left; width: 195px; padding-left: 10px; text-align: right; }

.search__btn { position: relative; float: right; width: 30px; height: 25px; background: #fff; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
.search__btn input { position: relative; width: 30px; height: 25px; padding: 0; background: none; z-index: 20; cursor: pointer; }
.search__btn i { position: absolute; top: 3px; right: 10px; background: url('../img/icons-s2a6dfb439b.png') 0 -413px no-repeat; width: 15px; height: 22px; z-index: 10; }

.menu { padding-top: 25px; margin: 0 25px; border: 1px solid #909191; border-width: 1px 0 2px 0; }

.menu__main { padding-bottom: 25px; overflow: hidden; }
.menu__main ul { overflow: hidden; }
.menu__main li { float: left; height: 17px; line-height: 17px; border-left: 1px solid #c8c8c8; text-align: center; }
.menu__main li:first-child { border: none; }
.menu__main a { font-family: Georgia, Tahoma, sans-serif; font-size: 14px; text-transform: uppercase; color: #050000; letter-spacing: -1px; }
.menu__main a:hover, .menu__main a.active { color: #d30000; }
.menu__main .menu__1 { width: 69px; text-align: left; }
.menu__main .menu__11 { width: 60px; text-align: right; }

.menu__2 { width: 79px; }

.menu__3 { width: 78px; }

.menu__4 { width: 56px; }

.menu__5 { width: 114px; }

.menu__6 { width: 113px; }

.menu__7 { width: 75px; }

.menu__8 { width: 123px; }

.menu__9 { width: 111px; }

.menu__10 { width: 118px; }

.menu__sub { height: 30px; margin: -5px -25px 20px -25px; line-height: 30px; text-align: center; background: #ebebeb; }
.menu__sub li { display: inline-block; padding: 0 10px; }
.menu__sub a { font-family: Georgia, Tahoma, sans-serif; font-size: 14px; color: #2d2d2d; }
.menu__sub a:hover, .menu__sub a.active { color: #d20000; }

.footer { padding: 20px 32px 15px 50px; background: #5a5a5a; overflow: hidden; }

.footer__nav { float: left; }
.footer__nav ul { float: left; }
.footer__nav li { margin-bottom: 7px; }
.footer__nav a { color: #fff; }
.footer__nav a:hover { text-decoration: underline; }

.footer__nav-main { width: 150px; text-transform: uppercase; }

.payment-methods { float: right; }
.payment-methods span { display: block; margin-bottom: 7px; color: #fff; }
.payment-methods ul { overflow: hidden; }
.payment-methods li { float: left; margin-left: 7px; }
.payment-methods li:first-child { margin-left: 0px; }

.payment-methods__1 { background: url('../img/icons-s2a6dfb439b.png') 0 -330px no-repeat; width: 31px; height: 21px; }

.payment-methods__2 { background: url('../img/icons-s2a6dfb439b.png') 0 -185px no-repeat; width: 34px; height: 21px; }

.payment-methods__3 { background: url('../img/icons-s2a6dfb439b.png') 0 -216px no-repeat; width: 54px; height: 21px; }

.payment-methods__4 { background: url('../img/icons-s2a6dfb439b.png') 0 -299px no-repeat; width: 39px; height: 21px; }

.best-cover { float: left; margin-right: 50px; }
.best-cover .h2 { margin-bottom: 20px; color: #fff; }
.best-cover ul { overflow: hidden; }
.best-cover li { float: left; margin-right: 16px; }
.best-cover img { display: block; border: 1px solid #909191; }

.title { padding-bottom: 10px; border-bottom: 4px solid #dedede; font-size: 0; text-align: right; }
.title li { display: inline-block; margin-left: 30px; }
.title a { position: relative; padding-right: 20px; font-family: Georgia, Tahoma, sans-serif; font-size: 16px; color: #000; }
.title a:hover { text-decoration: underline; }
.title a.active { color: #d20000; }
.title a.active i { background: url('../img/icons-s2a6dfb439b.png') 0 -577px no-repeat; width: 10px; height: 10px; }
.title a.active:hover { text-decoration: none; cursor: default; }
.title i { position: absolute; top: 6px; right: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -557px no-repeat; width: 10px; height: 10px; }

.title_no-border { border: none; }

.catalog .link-arr { margin: 5px 5px 0 0; }

.catalog__items { overflow: hidden; }
.catalog__items ul { position: relative; float: left; margin: 0 0 0 -30px; padding: 17px 0 6px 15px; border-bottom: 4px solid #dddede; }
.catalog__items li { float: left; width: 130px; margin-left: 18px; border-bottom: 1px solid #e1e1e1; }

.catalog__title { margin-bottom: 5px; }
.catalog__title a { color: #5b5a5a; }
.catalog__title a:hover { text-decoration: underline; color: #d60000; }
.catalog__title a:hover span { color: #d60000; }
.catalog__title span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #000; }

.catalog__pic { position: relative; margin-bottom: 5px; }
.catalog__pic:hover { -webkit-box-shadow: #5b5a5a 0 1px 5px; -moz-box-shadow: #5b5a5a 0 1px 5px; box-shadow: #5b5a5a 0 1px 5px; }
.catalog__pic img { display: block; }

.catalog__price, .catalog__detail { overflow: hidden; }

.catalog__price { color: #5b5a5a; }
.catalog__price span { float: left; }
.catalog__price a { float: right; color: #5b5a5a; text-decoration: underline; }
.catalog__price a:hover { color: #d60000; }

.catalog__detail { padding: 3px 0 12px 0; }
.catalog__detail a { position: relative; }
.catalog__detail i { position: absolute; }

.catalog__cart { position: relative; float: left; padding-right: 13px; color: #5b5a5a; }
.catalog__cart i { top: 4px; right: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -469px no-repeat; width: 10px; height: 8px; }
.catalog__cart:hover { color: #d60000; }

.catalog__comments { float: right; color: #909191; }
.catalog__comments i { top: 3px; left: -15px; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }
.catalog__comments:hover { text-decoration: underline; }

.action { position: absolute; right: 5px; bottom: 5px; width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #ee2b30; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlMmIzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QyMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee2b30), color-stop(100%, #d20000)); background-image: -webkit-linear-gradient(#ee2b30, #d20000); background-image: -moz-linear-gradient(#ee2b30, #d20000); background-image: -o-linear-gradient(#ee2b30, #d20000); background-image: linear-gradient(#ee2b30, #d20000); -webkit-box-shadow: rgba(0, 1, 1, 0.75) 0 1px 1px; -moz-box-shadow: rgba(0, 1, 1, 0.75) 0 1px 1px; box-shadow: rgba(0, 1, 1, 0.75) 0 1px 1px; -moz-transform: rotate(15deg); -o-transform: rotate(15deg); -webkit-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); color: #fff; text-align: center; }
.action b, .action strong, .action span { display: block; }
.action b { margin-top: -5px; font-size: 10px; }
.action strong { padding-top: 5px; font-size: 18px; }
.action span { padding-top: 12px; }
.action span strong { display: inline; }

.pagination { margin: 22px 0; text-align: right; font-size: 0; }
.pagination a { display: inline-block; margin: 0 6px; font-size: 11px; color: #3c3c3c; }
.pagination a:hover { text-decoration: underline; }
.pagination a.active { color: #d20000; cursor: default; text-decoration: none; }

.go-top { height: 33px; line-height: 33px; background: #e1e1e1; text-align: center; font-size: 14px; cursor: pointer; }
.go-top span { position: relative; }
.go-top span:after, .go-top span:before { content: ""; position: absolute; top: 5px; background: url('../img/icons-s2a6dfb439b.png') 0 -664px no-repeat; width: 6px; height: 5px; }
.go-top span:after { right: -15px; }
.go-top span:before { left: -15px; }

.txt-field { margin-bottom: 10px; overflow: hidden; }
.txt-field label { display: block; margin-bottom: 2px; font-size: 12px; }
.txt-field input { float: left; width: 272px; height: 24px; margin-right: 10px; padding: 0 5px; border: 1px solid #a3a4a6; }
.txt-field span { float: left; height: 26px; line-height: 26px; color: #909191; }
.txt-field span.error { color: #d20000; }

.popup-bg { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 200; }

.popup { position: fixed; top: 300px; left: 50%; width: 280px; padding: 10px 40px 30px 40px; margin-left: -180px; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4)); background-image: -webkit-linear-gradient(#ffffff, #f4f4f4); background-image: -moz-linear-gradient(#ffffff, #f4f4f4); background-image: -o-linear-gradient(#ffffff, #f4f4f4); background-image: linear-gradient(#ffffff, #f4f4f4); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; z-index: 250; }
.popup p { margin-bottom: 15px; font-size: 10px; color: #909191; }
.popup .txt-field { margin-bottom: 25px; }
.popup .txt-field input { width: 268px; background: none; font-size: 12px; }
.popup .txt-field input::-webkit-input-placeholder { color: #3c3c3c; }
.popup .txt-field input:-moz-placeholder { color: #3c3c3c; }

.popup__close { position: absolute; top: 10px; right: 10px; background: url('../img/icons-s2a6dfb439b.png') 0 -647px no-repeat; width: 9px; height: 7px; }

.popup__title { margin-bottom: 15px; font-size: 12px; }

.popup__btns { padding-left: 20px; overflow: hidden; }
.popup__btns input, .popup__btns button { float: left; }
.popup__btns input { width: 130px; margin-right: 20px; }
.popup__btns button { width: 90px; }

.popup_rechange .popup__title { margin-bottom: 10px; }
.popup_rechange .txt-field { margin-bottom: 5px; }

.popup__select, .cart__select { position: relative; margin-bottom: 25px; }
.popup__select span, .cart__select span { position: relative; display: block; width: 268px; height: 24px; padding-left: 10px; line-height: 24px; border: 1px solid #A3A4A6; cursor: pointer; }
.popup__select i, .cart__select i { position: absolute; top: 3px; right: 5px; background: url('../img/icons-s2a6dfb439b.png') 0 -597px no-repeat; width: 17px; height: 19px; }
.popup__select ul, .cart__select ul { display: none; position: absolute; top: 25px; width: 268px; padding: 4px 0; padding-left: 10px; border: 1px solid #A3A4A6; background: #fff; z-index: 10; }
.popup__select li, .cart__select li { padding: 2px; cursor: pointer; color: #909191; }
.popup__select li:hover, .cart__select li:hover { color: #d20000; }

.cart__select { margin-top: 20px; }
.cart__select i { top: 5px; background: url('../img/icons-s2a6dfb439b.png') 0 -534px no-repeat; width: 14px; height: 13px; }

.popup_discounts { width: 410px; padding: 20px 25px 0 30px; margin-left: -222px; }

.discounts li { position: relative; min-height: 60px; padding: 0 110px 0 85px; margin-bottom: 20px; }
.discounts li button { position: absolute; top: 50%; right: 0; margin-top: -11px; width: 90px; }

.discounts__value { position: absolute; top: 50%; left: 0; width: 65px; margin-top: -30px; }
.discounts__value img { margin-bottom: 3px; }
.discounts__value span { display: block; text-align: center; color: #d20000; }

.discounts__desc { overflow: hidden; }
.discounts__desc p { margin-top: 5px; font-size: 12px; color: #000; }
.discounts__desc a { font-size: 12px; color: #aaa; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.popup__btns input, .popup__btns button, .discounts li button, .add-comments__txt input, .registration__btn input, .settings__save input, .publishing__download button, .cart__puy button { height: 22px; border: 1px solid #c8c8c8; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#ffffff, #f3f3f3); background-image: -moz-linear-gradient(#ffffff, #f3f3f3); background-image: -o-linear-gradient(#ffffff, #f3f3f3); background-image: linear-gradient(#ffffff, #f3f3f3); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 10px; color: #909191; cursor: pointer; }
.popup__btns input:hover, .popup__btns button:hover, .discounts li button:hover, .add-comments__txt input:hover, .registration__btn input:hover, .settings__save input:hover, .publishing__download button:hover, .cart__puy button:hover { color: #fff; border: 1px solid #8b0000; background: #e30000; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e30000), color-stop(100%, #ad0000)); background-image: -webkit-linear-gradient(#e30000, #ad0000); background-image: -moz-linear-gradient(#e30000, #ad0000); background-image: -o-linear-gradient(#e30000, #ad0000); background-image: linear-gradient(#e30000, #ad0000); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

/* default layout */
.cols { margin: 10px 25px; background: url(../img/bg.jpg); overflow: hidden; }

.col-1 { float: left; width: 190px; margin-right: 15px; }

.col-2 { float: left; width: 580px; padding: 0 10px; }

.col-3 { float: right; width: 190px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.popup__btns input, .popup__btns button, .discounts li button, .add-comments__txt input, .registration__btn input, .settings__save input, .publishing__download button, .cart__puy button { height: 22px; border: 1px solid #c8c8c8; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#ffffff, #f3f3f3); background-image: -moz-linear-gradient(#ffffff, #f3f3f3); background-image: -o-linear-gradient(#ffffff, #f3f3f3); background-image: linear-gradient(#ffffff, #f3f3f3); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 10px; color: #909191; cursor: pointer; }
.popup__btns input:hover, .popup__btns button:hover, .discounts li button:hover, .add-comments__txt input:hover, .registration__btn input:hover, .settings__save input:hover, .publishing__download button:hover, .cart__puy button:hover { color: #fff; border: 1px solid #8b0000; background: #e30000; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e30000), color-stop(100%, #ad0000)); background-image: -webkit-linear-gradient(#e30000, #ad0000); background-image: -moz-linear-gradient(#e30000, #ad0000); background-image: -o-linear-gradient(#e30000, #ad0000); background-image: linear-gradient(#e30000, #ad0000); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.about { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 3px solid #909191; }
.about .h2 { margin-bottom: 10px; text-align: right; }

.review-articles { margin-bottom: 10px; text-align: center; }
.review-articles .h2 { margin-bottom: 10px; }
.review-articles .h3 { color: #000; }
.review-articles .h3:hover { text-decoration: underline; }
.review-articles p { margin: 7px 0; }
.review-articles p span { margin-left: 5px; color: #5b5a5a; }

.review-articles img { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.aside-news { padding-bottom: 20px; border-bottom: 3px solid #909191; }
.aside-news li { padding: 10px 0; border-top: 1px solid #e1e1e1; }
.aside-news li:first-child { border: none; }
.aside-news li a { color: #3c3c3c; }
.aside-news li a:hover { text-decoration: underline; }
.aside-news span { display: block; text-align: right; font-style: italic; color: #909191; }

.aside-news__top { margin-bottom: 5px; overflow: hidden; }
.aside-news__top .h2 { float: left; }
.aside-news__top .link-arr { float: right; margin-top: 4px; }

.journal-week { margin-bottom: 5px; padding-bottom: 15px; border-bottom: 3px solid #909191; text-align: center; }
.journal-week .h2 { padding: 10px 0; }
.journal-week img { margin-bottom: 15px; }

.journal-week__detail { display: block; color: #5b5a5a; }
.journal-week__detail span { margin-right: 5px; color: #000; text-decoration: underline; }
.journal-week__detail:hover { color: #D20000; }
.journal-week__detail:hover span { color: #D20000; }

.last-comments { padding: 8px 10px; background: #ebebeb; }
.last-comments .h2 { margin-bottom: 10px; }
.last-comments ul li { margin-bottom: 15px; }
.last-comments ul p { margin-bottom: 5px; }
.last-comments ul p, .last-comments ul a { color: #3c3c3c; }
.last-comments ul a { margin-right: 1px; font-style: italic; text-decoration: underline; }
.last-comments ul a:hover { color: #d20000; }

.last-comments__detail { overflow: hidden; }
.last-comments__detail span { float: right; position: relative; padding-left: 17px; color: #909191; font-style: italic; }
.last-comments__detail i { position: absolute; top: 2px; left: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.popup__btns input, .popup__btns button, .discounts li button, .add-comments__txt input, .registration__btn input, .settings__save input, .publishing__download button, .cart__puy button { height: 22px; border: 1px solid #c8c8c8; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#ffffff, #f3f3f3); background-image: -moz-linear-gradient(#ffffff, #f3f3f3); background-image: -o-linear-gradient(#ffffff, #f3f3f3); background-image: linear-gradient(#ffffff, #f3f3f3); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 10px; color: #909191; cursor: pointer; }
.popup__btns input:hover, .popup__btns button:hover, .discounts li button:hover, .add-comments__txt input:hover, .registration__btn input:hover, .settings__save input:hover, .publishing__download button:hover, .cart__puy button:hover { color: #fff; border: 1px solid #8b0000; background: #e30000; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e30000), color-stop(100%, #ad0000)); background-image: -webkit-linear-gradient(#e30000, #ad0000); background-image: -moz-linear-gradient(#e30000, #ad0000); background-image: -o-linear-gradient(#e30000, #ad0000); background-image: linear-gradient(#e30000, #ad0000); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.page404 { padding: 50px 0 0 25px; overflow: hidden; }

.page404__number { float: left; width: 155px; font-size: 72px; color: #d20000; }

.page404__desc { padding-top: 12px; overflow: hidden; }
.page404__desc p { margin-bottom: 15px; font-size: 14px; color: #3b424c; }
.page404__desc a { color: #d20000; text-decoration: underline; }
.page404__desc a:hover { text-decoration: none; }

.about-desc { padding: 15px 0; }
.about-desc p, .about-desc ul { margin-bottom: 10px; }
.about-desc p + ul { margin-top: -10px; }

.all-news li, .comments li { padding: 22px 0; border-bottom: 1px solid #e1e1e1; overflow: hidden; }
.all-news img, .comments img { float: left; margin-right: 25px; }

.all-news__desc { overflow: hidden; }
.all-news__desc a { font-size: 14px; color: #d20000; font-weight: bold; }
.all-news__desc a:hover { text-decoration: underline; }
.all-news__desc p { margin: 7px 0 15px 0; color: #3b424c; }
.all-news__desc span { display: block; font-size: 9px; font-style: italic; color: #909191; }

.comments img { margin-left: 20px; }

.comments__title { float: left; width: 100px; margin-right: 20px; text-align: center; color: #909191; }
.comments__title p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.comments__title span { position: relative; padding-left: 16px; }
.comments__title i { position: absolute; top: 2px; left: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }

.comments__desc { overflow: hidden; }
.comments__desc p { margin-bottom: 10px; color: #2d2d2d; }

.comments__detail { text-align: right; color: #909191; }
.comments__detail a { color: #909191; font-style: italic; }
.comments__detail a:hover { text-decoration: underline; }
.comments__detail span { position: relative; padding-left: 23px; }
.comments__detail i { position: absolute; top: 2px; left: 5px; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }

.contacts { margin-top: 20px; }
.contacts p { text-align: center; }
.contacts a { color: #000; }
.contacts a:hover { text-decoration: underline; }

.contacts__map { margin-left: 90px; margin-bottom: 25px; }

.publish-house__list { padding: 20px 0; border-bottom: 1px solid #dadada; font-size: 0; }
.publish-house__list li { display: inline-block; width: 125px; vertical-align: top; padding: 0 10px; text-align: center; }
.publish-house__list img { margin-bottom: 10px; }
.publish-house__list a { font-size: 11px; color: #909191; }
.publish-house__list a:hover { color: #d20000; }

.catalog_cart { padding-bottom: 10px; border-bottom: 4px solid #dddede; }
.catalog_cart .catalog__items ul { border: none; }
.catalog_cart .catalog__price a { float: none; display: block; }
.catalog_cart .catalog__detail { padding: 0 0 12px 0; }

.news .h2 { margin: 10px 0; font-family: Tahoma, Arial, sans-serif; color: #3c3c3c; }
.news p { margin-bottom: 10px; }
.news img { margin: 20px 0; }

.news__date { margin-bottom: 10px; font-style: italic; color: #909191; }

.likes { padding-bottom: 20px; border-bottom: 1px solid #e1e1e1; overflow: hidden; }
.likes img { float: right; margin: 0; }

.overviews li { padding: 22px 0; border-bottom: 1px solid #e1e1e1; overflow: hidden; }

.overviews__detail { float: left; width: 70px; margin-right: 20px; text-align: center; }
.overviews__detail img { margin-bottom: 10px; }
.overviews__detail span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #909191; }

.overviews__desc { overflow: hidden; }
.overviews__desc a { color: #000; }
.overviews__desc a:hover { text-decoration: underline; }
.overviews__desc .h3 { margin-bottom: 15px; }
.overviews__desc p { margin-bottom: 25px; }

.overviews__date { text-align: right; color: #909191; font-style: italic; }
.overviews__date span { position: relative; padding: 0 16px 0 11px; }
.overviews__date i { position: absolute; top: 2px; right: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }

.describe, .application { padding: 20px 0; border-bottom: 1px solid #e1e1e1; }
.describe p, .application p { margin-bottom: 12px; }
.describe a, .application a { color: #d20000; text-decoration: underline; }
.describe a:hover, .application a:hover { text-decoration: none; }

.application .application__ipad { margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #e1e1e1; }

.application__play { height: 37px; line-height: 37px; overflow: hidden; }
.application__play a { float: left; margin-right: 15px; }

.application__system, .application__ipad { height: 22px; line-height: 22px; overflow: hidden; }
.application__system span, .application__ipad span { float: left; margin-right: 15px; }

.overview { padding-top: 10px; border-bottom: 1px solid #e1e1e1; }
.overview .h2 { font-family: Tahoma, Arial, sans-serif; }
.overview a:hover { text-decoration: underline; }

.overview__detail { margin: 10px 0 15px 0; overflow: hidden; }
.overview__detail span { color: #909191; }
.overview__detail .link-arr { float: right; }

.overview__desc { overflow: hidden; }
.overview__desc img { float: left; margin-right: 20px; }
.overview__desc p { margin-bottom: 20px; overflow: hidden; }

.shop { padding: 5px 0 20px 5px; margin-left: -5px; border-bottom: 1px solid #e1e1e1; overflow: hidden; }

.shop__pic { float: left; margin-right: 30px; }
.shop__pic img { display: block; margin-bottom: 35px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px; box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px; }
.shop__pic li { margin-bottom: 10px; }
.shop__pic a { color: #000; text-decoration: underline; }
.shop__pic a:hover { color: #d20000; }

.shop__desc { overflow: hidden; }
.shop__desc .h2 { color: #d20000; font-family: Tahoma, Arial, sans-serif; }
.shop__desc a { color: #d20000; text-decoration: underline; }
.shop__desc a:hover { text-decoration: none; }
.shop__desc p, .shop__desc ul { margin-bottom: 10px; }

.shop__detail { padding: 12px 0; color: #909191; }

.shop__price { margin-bottom: 15px; }
.shop__price b { margin: 0 5px; font-size: 14px; color: #d20000; }

.shop__comments { position: relative; padding: 0 0 15px 20px; border-bottom: 4px solid #dddede; }
.shop__comments i { position: absolute; top: 2px; left: 4px; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }
.shop__comments a { color: #909191; text-decoration: none; }
.shop__comments a:hover { text-decoration: underline; }

.shop__links { margin-top: 32px; overflow: hidden; }
.shop__links a { float: right; margin-left: 30px; font-size: 14px; }

.shop__cart-link { position: relative; padding-right: 18px; }
.shop__cart-link i { position: absolute; top: 5px; right: 0; background: url('../img/icons-s2a6dfb439b.png') 0 -487px no-repeat; width: 14px; height: 11px; }

.catalog_last { margin-bottom: 20px; }
.catalog_last .h2 { padding: 10px 0 0 10px; font-family: Tahoma, Arial, sans-serif; overflow: hidden; }
.catalog_last .link-arr { float: right; font-weight: normal; }
.catalog_last .catalog__items ul { border-bottom: 1px solid #e1e1e1; }
.catalog_last .catalog__items li { border: none; }
.catalog_last .catalog__detail { padding: 3px 0; }

.add-comments .h2 { padding: 10px 0 0 10px; font-family: Tahoma, Arial, sans-serif; }
.add-comments li { padding: 20px 0; border-top: 1px solid #e1e1e1; overflow: hidden; }
.add-comments li:first-child { border: none; }

.add-comments__name { float: left; width: 80px; margin-right: 20px; padding-left: 10px; }

.add-comments__txt { overflow: hidden; }
.add-comments__txt p { margin-bottom: 10px; }
.add-comments__txt textarea { width: 440px; max-width: 440px; height: 75px; padding: 7px; margin-bottom: 12px; border: 1px solid #c8c8c8; }
.add-comments__txt input { width: 130px; }

.add-comments__date { text-align: right; color: #909191; }
.add-comments__date span { position: relative; padding-left: 23px; }
.add-comments__date i { position: absolute; top: 2px; left: 5px; background: url('../img/icons-s2a6dfb439b.png') 0 -626px no-repeat; width: 12px; height: 11px; }

.partners { padding: 20px 0; font-size: 0; }
.partners li { display: inline-block; width: 125px; padding: 0 10px; margin-bottom: 20px; vertical-align: top; text-align: center; }
.partners img { margin-bottom: 10px; }
.partners a { display: block; }
.partners p { font-size: 11px; color: #909191; }

.payment table { width: 100%; }
.payment th { padding: 5px; background: #dddede; font-weight: normal; }
.payment th:hover { text-decoration: underline; cursor: pointer; }
.payment td { padding: 15px 5px; }
.payment th, .payment td { border-bottom: 1px solid #e1e1e1; text-align: center; }
.payment th:nth-child(2), .payment td:nth-child(2) { text-align: left; }

.registration { padding: 20px 0 0 70px; }
.registration p { margin-bottom: 20px; }

.registration__notice, .settings__notice { position: relative; margin: 25px 0 35px 0; padding-left: 24px; }
.registration__notice input, .settings__notice input { position: absolute; top: 0; left: 0; }

.registration__btn { margin: 40px 0 20px 0; }
.registration__btn input { width: 130px; }

.settings form { margin-bottom: 25px; padding-left: 45px; }

.settings__title { height: 22px; margin-bottom: 20px; line-height: 22px; padding-left: 15px; background: #dddede; color: #3b424c; }

.settings__notice { margin: 20px 0; }

.settings__save { margin-top: 20px; }
.settings__save input { width: 103px; }

.settings__fb { position: relative; margin-bottom: 20px; padding-left: 145px; }
.settings__fb a { position: absolute; top: 1px; left: 20px; background: url('../img/icons-s2a6dfb439b.png') 0 -151px no-repeat; width: 98px; height: 24px; }

.publishing { padding: 20px; }
.publishing p { margin-bottom: 12px; }
.publishing ul { margin: -12px 0 12px 0; }
.publishing li { list-style-type: disc; list-style-position: inside; }

.publishing__download button { width: 150px; margin: 10px 0 10px 198px; text-align: center; }
.publishing__download p { text-align: center; }
.publishing__download a { font-size: 11px; color: #aaaaaa; text-decoration: underline; }
.publishing__download a:hover { text-decoration: none; }

.cart { padding-top: 20px; }
.cart p { margin-bottom: 10px; }
.cart b { font-size: 14px; }

.cart__sum { color: #d20000; }

.cart__puy { margin: 20px 0 25px 0; }
.cart__puy button { width: 130px; }

.cart__next { padding-bottom: 100px; }
.cart__next a { text-decoration: underline; color: #5b5a5a; }
.cart__next a:hover { color: #d20000; }

.lteie8 .search form { border: 1px solid #DEDEDE; }
.lteie8 .search input { line-height: 25px; }
.lteie8 .menu__sub li, .lteie8 .title li, .lteie8 .publish-house__list li, .lteie8 .partners li { display: inline; zoom: 1; }
.lteie8 .catalog__items { position: relative; }
.lteie8 .txt-field input { line-height: 24px; }
